<!DOCTYPE html>
<html lang="en">
<head>
  <title>Our leaders</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
	<div class="row">
	<div class="share-it">
		<div class="facebook">
		 <a href="#"><i class="fa fa-facebook"></i></a>
		</div>
		<div class="twitter">
		 <a href="#"><i class="fa fa-twitter"></i></a>
		</div>
		<div class="google hidden-xs">
		 <a href="#"><i class="fa fa-google-plus"></i></a>
		</div>
		<div class="rss">
		 <a href="#"><i class="fa fa-rss"></i></a>
		</div>
		<div class="linkedin">
		 <a href="#"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="youtube cboxElement">
		 <a href="#"><i class="fa fa-youtube"></i></a>
		</div>
	  </div>
	</div>
    </div>

 <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <a class="navbar-brand" href="index.html">
                    <img src="images/logo-1.png" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <div class="nav navbar-nav navbar-right">
                 <img src="images/ad.jpg" alt="ad">
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="search-banner bg-danger text-white py-5" id="search-banner">
    <div class="container py-5 my-5">   
    <div class="row">
        <div class="col-md-9">

        	 <marquee class="marquee-text">వైఎస్సార్ కాంగ్రెస్ పార్టీ అధినేత జగన్ బ్రాహ్మణ ఆత్మీయ సభకు రాకపోవడం వివాదాస్పదంగా మారింది. బ్రాహ్మణులను జగన్ తీవ్రంగా అవమానించారు అంటూ ఏపీ బ్రాహ్మణ సంఘాల సమాఖ్య ప్రతినిధుల నుంచి విమర్శలు వస్తున్నాయి. జగన్ వస్తారనుకొని నమ్మకంతో తాము సభను నిర్వహిస్తే కనీసం ఆయన వివరణ కూడా ఇవ్వకుండా తేలిగ్గా తీసిపారేసారని ఆగ్రహం వ్యక్తం చేస్తున్నారు.</marquee>
           
               <!--  <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                          <select id="inputState" class="form-control" >
                            <option selected>... Search for...</option>
                            <option>MP</option>
                            <option>MLA</option>
                            <option>MLC</option>
                            <option>Central Committee</option>
                            <option>State Committee</option>
                            <option>District President</option>
                          </select>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                          <select id="inputState" class="form-control" >
                            <option selected>... Select State...</option>
                            <option>Andhra Pradesh</option>
                            <option>Telangana</option>
                          </select>
                        </div>
                </div>
               
                <div class="col-md-4">
                    <button type="button" class="btn btn-dark" >Search </button>

                </div>
            </div> -->
               
            
        </div>
        <div class="col-md-3">
          <ul class="nav navbar-nav navbar">
            <li><a href="news.html">News</a></li>
            <li><a href="news.html">Articles</a></li>
            <li><a href="news.html">Video </a></li>   
          </ul>

        </div>
    </div>
</div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="heading-text-n">
        <img src="images/bjp.png" class="img-responsive bjp-img" alt="">
        <h3>News</h3>
      </div>
      <div class="blog-sidebar">
             <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked">
              <li class="active" style="border-bottom: 1px solid #e0e0e0;"><a href="#btab1" data-toggle="tab" style="padding: 15px 50px;">News </a></li>
              <li style="border-bottom: 1px solid #e0e0e0;"><a href="#btab2" data-toggle="tab" style="padding:15px 50px;">Pictures </a></li>
              <li style="border-bottom: 1px solid #e0e0e0;"><a href="#btab3" data-toggle="tab" style="padding:15px 50px;">Songs </a></li>
              <li style="border-bottom: 1px solid #e0e0e0;"><a href="#btab4" data-toggle="tab" style="padding:15px 50px;"> Slogans </a></li>
              <li style="border-bottom: 1px solid #e0e0e0;"><a href="#btab5" data-toggle="tab" style="padding:15px 50px;"> Articles </a></li>
              <li style="border-bottom: 1px solid #e0e0e0;"><a href="#btab6" data-toggle="tab" style="padding:15px 50px;"> Video Library </a></li>
             
           </ul>
        </div>
        <div class="ads">
          <img src="images/ad-1.png" class="img-responsive" alt="">
        </div>
    </div>
    <div class="col-md-9">

        <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="btab1">
                <div class="row">
                  <div class="comeing-title"><h3 class="comeing-text"></h3></div>
                   <div class="col-md-6">
                      <div class="panel panel-primary">
                        <div class="panel-heading heading-text-n">
                          <h4 class="panel-title"> POLITICAL NEWS</h4>
                        </div>
                    <ul class="list-group news-marquee">
                       <a href="#" class="list-group-item"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> అమెరికా నివేదిక..హిందుత్వ వాదుల సీరియస్</a>
                       <a href="#" class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> హెచ్4 వీసా...ట్రంప్ షాకుల‌కు బ్రేకు లేదు</a>
                       <a href="#" class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> లోకేష్ ట్వీట్ల గుట్టు విప్పిన రోజా</a>
                       <a href="#" class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> గ్రీన్ కార్డ్..ఓ జీవిత‌కాలం లేటు</a>
                       <a href="#" class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> చెరువు మీద అలిగిన బాబు..ఐవైఆర్ సెటైర్</a>
                   </ul>
                  </div>
                 </div>
                  <div class="col-md-6">
                      <div class="panel panel-primary">
                        <div class="panel-heading heading-text-n">
                          <h4 class="panel-title"> MOVIE NEWS</h4>
                        </div>
                    <ul class="list-group news-marquee">
                       <a href="#" class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> చిట్టిబాబు సంక్రాంతి పందెంకోడి</a>
                       <a href="#" class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> ‘ఆఫీసర్‌’కు దీటుగా ‘నానువ్వే’</a>
                       <a href="#" class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> టాక్ బాలేదు కాని కలక్షన్లు కేక</a>
                       <a href="#" class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> రజినీ బయ్యర్లలో భయం మొదలైంది</a>
                       <a href="#" class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> ఎన్టీఆర్ జూనియర్.. ఇది ఫేక్ బాసూ</a>
                   </ul>
                  </div>
                 </div>

                </div>                 
              </div>

               <div role="tabpanel" class="tab-pane fade in" id="btab2">
                   <div class="comeing-title"><h3 class="comeing-text">Pictures</h3></div>               
                 <div class="row">
                   <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/bjp-mp.jpg" /></div>
                   <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/kcr.jpg" /></div>
                   <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/janasena-1.jpg" /></div>
                   <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/bjp-mp1.jpg" /></div>
                 </div>
                 <div class="row">
                 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/trs-mp-1.jpg" /></div>
                 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/ysrcp-mp-1.png" /></div>
                 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/trs-mp-2.jpg" /></div>
                <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/congress-mp1.jpg" /></div>
                </div>
                 <div class="row">
                 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/tdp-mp-1.jpg" /></div>
                 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/tdp-mp-2.jpg" /></div>
                 <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/ysrcp-mp-2.jpg" /></div>
                <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive news-gallery" src="images/janasena-1.jpg" /></div>
                </div>
           </div>
                <div role="tabpanel" class="tab-pane fade in" id="btab3">
                    <div class="comeing-title"><h3 class="comeing-text">TRS Songs</h3></div>
                    <div>
                       <audio controls>
                           <source src="song-4.ogg" type="audio/ogg">
                           <source src="song-4.mp3" type="audio/mpeg">
                           Your browser does not support the audio tag.
                       </audio>
                        <audio controls>
                           <source src="song-3.ogg" type="audio/ogg">
                           <source src="song-3.mp3" type="audio/mpeg">
                           Your browser does not support the audio tag.
                       </audio>
                       <audio controls>
                           <source src="song.ogg" type="audio/ogg">
                           <source src="song.mp3" type="audio/mpeg">
                           Your browser does not support the audio tag.
                       </audio>
                        <audio controls>
                           <source src="song-2.ogg" type="audio/ogg">
                           <source src="song-2.mp3" type="audio/mpeg">
                           Your browser does not support the audio tag.
                       </audio>
                    </div>
                </div>


                 <div role="tabpanel" class="tab-pane fade in" id="btab4">
                     <div class="comeing-title"><h3 class="comeing-text">Slogans.</h3></div>
                     <div class="row">        
                      <div class="col-md-12">
                        <div class="panel panel-success">                
                          <div class="panel-heading" style="background: #ff6600;">
                           <h3 class="panel-title"> BJP PARTY </h3>                      
                          </div>                    
                          <div class="panel-body"> The mission of Telugu Desam Party is to protect the dignity, self respect of Telugus and ensure provision of food, shelter and clothing to the common man at affordable and sustainable prices. </div>
                         </div> 
                       </div>            
                     </div>
                     <div class="row">        
                      <div class="col-md-12">
                        <div class="panel panel-success">                
                          <div class="panel-heading" style="background: #fe0175;">
                           <h3 class="panel-title"> TRS PARTY </h3>                      
                          </div>                    
                          <div class="panel-body"> The mission of Telugu Desam Party is to protect the dignity, self respect of Telugus and ensure provision of food, shelter and clothing to the common man at affordable and sustainable prices. </div>
                         </div> 
                       </div>            
                     </div>                    

                      <div class="row">        
                      <div class="col-md-12">
                        <div class="panel panel-success">                
                          <div class="panel-heading" style="background: linear-gradient(to right, #fd7f18,#ffffff, #008e46);">
                           <h3 class="panel-title"> CONGRESS PARTY </h3>                      
                          </div>                    
                          <div class="panel-body"> The mission of Telugu Desam Party is to protect the dignity, self respect of Telugus and ensure provision of food, shelter and clothing to the common man at affordable and sustainable prices. </div>
                         </div> 
                       </div>            
                     </div>
                      <div class="row">        
                      <div class="col-md-12">
                        <div class="panel panel-success">                
                          <div class="panel-heading" style="background: #cc3333;">
                           <h3 class="panel-title"> JANASENA PARTY </h3>                      
                          </div>                    
                          <div class="panel-body"> The mission of Telugu Desam Party is to protect the dignity, self respect of Telugus and ensure provision of food, shelter and clothing to the common man at affordable and sustainable prices. </div>
                         </div> 
                       </div>            
                     </div>
                      
                      <div class="row">        
                      <div class="col-md-12">
                        <div class="panel panel-success">                
                          <div class="panel-heading" style="background: linear-gradient(to right, #0266b4,#ffffff, #008e46);">
                           <h3 class="panel-title"> YSRCP PARTY </h3>                      
                          </div>                    
                          <div class="panel-body"> The mission of Telugu Desam Party is to protect the dignity, self respect of Telugus and ensure provision of food, shelter and clothing to the common man at affordable and sustainable prices. </div>
                         </div> 
                       </div>            
                     </div>
                      <div class="row">        
                      <div class="col-md-12">
                        <div class="panel panel-success">                
                          <div class="panel-heading" style="background: #ffff00;">
                           <h3 class="panel-title"> TDP PARTY </h3>                      
                          </div>                    
                          <div class="panel-body"> The mission of Telugu Desam Party is to protect the dignity, self respect of Telugus and ensure provision of food, shelter and clothing to the common man at affordable and sustainable prices. </div>
                         </div> 
                       </div>            
                     </div>
                      <div class="row">        
                      <div class="col-md-12">
                        <div class="panel panel-success">                
                          <div class="panel-heading" style="background: #de0000;">
                           <h3 class="panel-title"> CPI PARTY </h3>                      
                          </div>                    
                          <div class="panel-body"> The mission of Telugu Desam Party is to protect the dignity, self respect of Telugus and ensure provision of food, shelter and clothing to the common man at affordable and sustainable prices. </div>
                         </div> 
                       </div>            
                     </div>
                      <div class="row">        
                      <div class="col-md-12">
                        <div class="panel panel-success">                
                          <div class="panel-heading" style="background: #de0000;">
                           <h3 class="panel-title"> CPM PARTY </h3>                      
                          </div>                    
                          <div class="panel-body"> The mission of Telugu Desam Party is to protect the dignity, self respect of Telugus and ensure provision of food, shelter and clothing to the common man at affordable and sustainable prices. </div>
                         </div> 
                       </div>            
                     </div>
                 </div>



                <div role="tabpanel" class="tab-pane fade in" id="btab5">
                    <div class="comeing-title"><h3 class="comeing-text"> Articles Coming Soon</h3></div>
               </div>

                <div role="tabpanel" class="tab-pane fade in" id="btab6">
                  <div class="comeing-title"><h3 class="comeing-text"> Video Library  </h3></div>

                  <div class="row">
                    <div class="col-md-4"><iframe width="250" height="250" src="https://www.youtube.com/embed/2ZR84oVAegA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    <div class="col-md-4"><iframe width="250" height="250" src="https://www.youtube.com/embed/ku0CKvhJphs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div> 
                    <div class="col-md-4"><iframe width="250" height="250" src="https://www.youtube.com/embed/LdyzqZICtsU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>              
                  </div>   

                  <div class="row">                   
                    <div class="col-md-4"><iframe width="250" height="250" src="https://www.youtube.com/embed/ku0CKvhJphs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    <div class="col-md-4"><iframe width="250" height="250" src="https://www.youtube.com/embed/HuWQGDTpJts" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    <div class="col-md-4"><iframe width="250" height="250" src="https://www.youtube.com/embed/LdyzqZICtsU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div> 
                  </div>  

                </div>

         </div>

       
    </div>
    <!---<div class="col-md-3">
      <div class="party-heading">
        <h3>Related Partys :</h3>
      </div>
      <div class="center-menu">
         <ul style="margin-bottom: 15px;margin-top: 15px;">
         <li><a href="bjp.html"><i class="glyphicon glyphicon-chevron-right"></i> BJP </a></li>
         <li><a href="congress.html"><i class="glyphicon glyphicon-chevron-right"></i> CONGRESS </a></li>
         <li><a href="trs.html"><i class="glyphicon glyphicon-chevron-right"></i> TRS </a></li>
         <li><a href="tdp.html"><i class="glyphicon glyphicon-chevron-right"></i> TDP </a></li>
         <li><a href="ysrcp.html"><i class="glyphicon glyphicon-chevron-right"></i> YSRCP </a></li>
         <li><a href="janasena.html"><i class="glyphicon glyphicon-chevron-right"></i> JANASENA </a></li>
         <li><a href="cpi.html"><i class="glyphicon glyphicon-chevron-right"></i> CPI</a></li>
         <li><a href="cpm.html"><i class="glyphicon glyphicon-chevron-right"></i> CPM </a></li>
         <li><a href="independent.html"><i class="glyphicon glyphicon-chevron-right"></i> INDEPENDENTS </a></li>
         <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> NOMINATED POSTS </a></li>
       </ul> 
      </div>      

    </div>----->
  </div>
</div>


 <footer>
     <div class="container">
       <div class="row">
       
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <span class="logo">OUR LEADERS</span>
                  <p class="footer-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam dolores quidem mollitia id ipsa nisi necessitatibus iure repudiandae aperiam, odit ipsam dolor fugiat corporis nesciunt illo nemo minus.</p>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="menu">
                         <span>Quick Links</span>    
                         <li>
                            <a href="news.html">News</a>
                          </li>
                               
                          <li>
                             <a href="news.html">News</a>
                          </li>
                               
                          <li>
                            <a href="news.html">Video Library</a>
                          </li>
                               
                          <li>
                             <a href="news.html">Articles</a>
                          </li>
                     </ul>
                </div>
           
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="address">
                        <span>Contact</span>       
                        <li>
                           <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Kukatpally,Hyderabad</a>
                        </li> 
                        <li>
                           <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">9885577345</a>
                        </li>
                        <li>
                           <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">info@ourleaders.com</a>
                        </li> 
                   </ul>
               </div>
           
           
           </div> 
        </div>
    </footer>

     <div class="copyright">
     <div class="container">
       
         <div class="row text-center">
          <p>Copyright © 2018 All rights reserved</p>
         </div>
         
     </div>
    </div>



<script type="text/javascript">
	$(document).ready(function(){

$('#itemslider').carousel({ interval: 3000 });

$('.carousel-showmanymoveone .item').each(function(){
var itemToClone = $(this);

for (var i=1;i<6;i++) {
itemToClone = itemToClone.next();

if (!itemToClone.length) {
itemToClone = $(this).siblings(':first');
}

itemToClone.children(':first-child').clone()
.addClass("cloneditem-"+(i))
.appendTo($(this));
}
});
});

</script>

</body>
</html>